<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>Quality of the dataset is really out of my control since it heavily depends on the reliability of AWARE framework and the phone's operating system, for example, whether the phone blocked the AWARE app from collecting data.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>The data is complete enough to show some patterns in the way I move between School, Sterling Plaza and my apartments. For the battery temperature and battery level, the frequency is very nice so I would say that the data is complete enough. One concern is that since my phone might block AWARE from time to time, so some data would be missing. However, based on the plots, it is not a big issue.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>The data is coherent in that the level of battery charge, the temperature, the air pressure and my locations adhere to my expectations. The distributions and the range of the values are also sensible, for example temperature around 32 celcius degree normally, and 40 degrees when in heavy use. Air pressure is also accurate.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>I can verify the air pressure, so I googled for the air pressure from Feb 19 to March 6 in Pittsburgh and the stats mostly aligned.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data Accountable?</h2>
	<p>I trust CMU's AWARE framework and Huawei Mate 9, and nothing controversial is present in the data visualization, so yes, data is accountable.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
